body{
    margin: 0 auto;
}
.carta-wrapper{
  position: relative;
  height: 400px;
}
.carta-wrapper-open{
  position: relative;
  height: 400px;
}

.carta-wrapper #carta{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  animation-name: angry-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}


@keyframes angry-animation {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.carta-wrapper-open #carta{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  animation-duration: 3s;
  animation-timing-function: linear;
}

#carta-div img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

#invitacion{
  width: 400px;
  position: absolute;
  top: 30%;
  margin: 0 auto;
  animation-name: mostrar-invitacion;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes mostrar-invitacion {
  0%   {width: 260px; opacity: 50%;}
  25%  {width: 260px; }
  50%  {width: 300px; opacity: 75%;}
  75%  {width: 350px; }
  100% {width: 400px; }
}


