body{
    margin: 0 auto;
}
.carta {
    background: url("images/carta-cerrada.png") no-repeat;
}
.carta:hover {
  background: url("images/carta-abierta.png") no-repeat;
}
.carta-wrapper{
  position: relative;
  height: 400px;
}
.carta-wrapper-open{
  position: relative;
  height: 600px;
}
#carta-div img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

